@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@media (max-width: 1100px) {
    body {
        background-color: #ffffff;
        margin: 0px;
        overflow-y: scroll;
        height: fit-content;
        overflow-x: hidden;
    }



    .descp {
        margin-right: 15px;
        transform: scale(2);
    }

    .slick-next {
        transform: scale(2.5);
    }

    .slick-dots {
        transform: scale(2);
    }

    .butdesk {
        font-size: 50rem;
        padding: 30px;
    }

    .barraInfIn {
        left: 5%;
        display: flex;
        align-items: center;
        border-radius: 50px;
        padding: 12px 20px 12px;
        height: 60%;
        flex-wrap: wrap;
        margin-right: 14px;
    }

    .title {
        font-size: 60px;
        position: relative;
        left: -2%;
        top: 15%;
    }

    .infoText {
        font-size: 30px;
        padding: 10px 25px 30px;
        margin: 0px;
        height: 100%;
        width: fit-content;
    }

    .barraInf1 {
        display: none;
    }

    .barraInf {
        display: flex;
        height: 185px;
        align-items: center;
        padding: 20px 0px;

    }

    .divImgCasas {
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin: 0px;
        flex-direction: column;
        padding: 0px;
    }

    .caixaImg1 {
        width: 100%;
        height: 100%;
        display: none;
    }

    .caixaImg1mob {
        width: 100%;
        height: 100%;
        display: none;
        display: block;
    }

    .caixaImg {
        width: 100%;
        height: 100%;
    }

    .imgCasas {
        width: fit-content;
        z-index: -1;
        border-radius: 30px;
    }

    .imgCasas:hover {
        border-radius: 70px;
    }

    .infomob1,
    .infomob3 {
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 30px;
        margin: 0px 30px 30px;
        background-color: #eeeeee;
        border-radius: 30px;
        box-shadow: 0px 4px 30px #38271fbb;
        border: 1px solid #A39171;
        padding: 20px;
    }

    .loc {
        align-self: auto;
        transform: scale(1.8);
    }

    .divBordas {
        display: none;
    }

    .textoCaixaImg {
        transform: scale(2);
        top: 80%;
        left: 38%;
    }

    .textoCaixaImg1 {
        transform: scale(2);
        top: 7%;
        left: 38%;
    }

    .tel {
        transform: scale(1.6);
        margin: 0px 10px 0px;
    }

    .numInf {
        font-size: 24px;
        padding: 0px 10px 0px;
        width: 76%;
        margin: 0px
    }

    .imgLogo {

        display: none;
    }

    .imgLogomob {
        height: 100%;
        display: block;
        margin-left: 25px;
    }
}