@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Classes predefinidas */
.divrow {

  display: flex;
  flex-direction: row;
  align-items: center;
}




body {
  background-color: #fffafa;
  margin: 0px;

  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.paginaprincipal {

  max-height: 90vh;
  /* Define a altura máxima como 100% da altura da viewport */
  
  display: flex;
  /* Ativa o modo flexível */
  flex-direction: column;
  /* Alinha os itens em uma coluna */
  align-items: center;
}

.material-symbols-outlined {
  transform: scale(1.3);
  color: #64B6AC;
  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.pinloc {
  padding: 0px 10px 0px;
}







.numInf {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding: 0px 0px 0px;
  color: #000000;
}

.casaDestaque {
  position: relative;
  width: 95%;

}

.imagem-overlay {
  position: relative;
  display: inline-block;
  width: 100%;

}

.imagem-overlay img {
  border-radius: 10px;
  width: 100%;
  height: 30rem;

  object-fit: cover;
  overflow: hidden;
}


.texto-sobreposto {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.318);
  color: white;

  width: 100%;
  height: 30rem;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;

}

.nosscass {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 2rem;
}

.nosscassSubT {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-top: 0;
  margin-bottom: 30px;
  color: #676767;

}

.casatitlebox {
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: stretch;
}

.casatitlerow {
height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.precocasa {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 2rem;

}

.descptext {
  font-size: 0.7rem;
}


.star {
  color: rgb(255, 207, 53) !important;
  margin-bottom: 0.66rem;
  font-size: 1rem;
  margin-right: 0.4rem;
}


















.divImgCasas {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  margin-bottom: -15px;
}

.caixaImg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: center;
  transition: all 1s;
  width: 100%;
  height: 100%;
  position: relative;
}

.caixaImg1 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: center;
  transition: all 1s;
  width: 130%;
  height: 100%;
  position: relative;
}

.caixaImg1mob {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: center;
  transition: all 1s;
  width: 130%;
  height: 100%;
  position: relative;
  display: none;
}



.imgCasas {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: all 1s;


}

.imgCasas:hover {
  transform: scale(1.03);

}


.textoCaixaImg {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  width: 200px;

  background: rgba(0, 0, 0, 0.212);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
}

.textoCaixaImg1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  width: 200px;

  background: rgba(0, 0, 0, 0.212);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 20px 5px;
}

.slider1,
.slider2,
.slider3 {
  object-fit: cover;
  width: 100%;
  transition: all 1s;



}

.slick-next {
  right: -30px;
  transform: scale(1.3);
  transition: all 1s;
}

.caixaImg:hover .slick-next {
  right: 10;
}

.caixaImg1:hover .slick-next {
  right: 10;
}

.slick-prev {
  left: 20px;
}

.slick-dots {
  bottom: -20px;
  filter: invert(1);
  transform: scale(1.5);
  color: #ffffff;
  transition: all 1s;
}

.caixaImg:hover .slick-dots {
  bottom: 5px;
}

.caixaImg1:hover .slick-dots {
  bottom: 5px;
}









.title {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-style: italic;
  height: 100%;
  position: relative;
  left: -0.5%;
  top: 20%;

}

.barraInf1 {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 85rem;
  height: 22%;
  align-items: center;
  justify-content: space-around;
}

.info {
  display: flex;
  padding: 0px 5px;
  height: auto;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}


.divBordas {
  border-right: 1.5px solid #333;
  border-left: 1.5px solid #333;
  width: 39.4%;
  height: 18%;
  position: absolute;
  top: 80%;
  left: 30.2%;
}

.infoText {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  padding: 0px 0px 10px;
  font-weight: 500;
  text-align: left;
}

.infoTextLoc {
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  color: #717171;
}

.rating {
  font-size: 1rem !important;
}

.infoTextmeio {
  padding: 0px 20px 0px;
}

.loc {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 0px 5px 0px;
  z-index: 1;
}

.end {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding: 0px 5px 0px;
  color: #5D737E;
  cursor: pointer;
  display: contents;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.infomob1 {
  display: none;
}

.tel {
  transform: scale(0.8);
  color: #000000;
}

.butdesk {
  width: 10rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border: 0px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 25px;
  padding: 8px;
  color: white;
  font-weight: 500;
  font-size: 10px;
  box-shadow: 2px 2px 5px #5d737e6e;
  cursor: pointer;
  z-index: 3;

}

.descp {
  color: white;
  margin-left: 0.4rem;
  margin-right: 5px;
  transform: scale(1.2);
}

.imgcasagrid img {

  border-radius: 15px;
  width: 100%;
  height: 28rem;
  object-fit: cover;
  overflow: hidden;
}


