@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');




@media (min-width: 761px) and (max-width: 1099px) {

.imagem-overlay img {
        height: 20rem;
      
    }


    .texto-sobreposto {
        top: 90%;
        left: 21%;
    }

    .texto-sobreposto2 {
        top: 76%;
        left: 84%;
        scale: 0.8;
    }



    .texto-sobreposto3 {
        top: 73.5%;
        left: 87%;
        font-size: 20px;
    }
    .slider1{
        height: fit-content;
    }
    .imgsSubText{
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .imgsSubText img{
        width: 48%;
        margin-top: 2%;
    }
    .mapboxdesk{
        margin-top: 10px;
        width: 100%;
    }
    
    .boxLeft{
     align-items: center;   
    }
}