@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');






@media (min-width: 1101px) and (max-width: 1921px) {


    html,
    body {
        height: 100%;
        overflow-x: hidden;
        margin: 0px;
        background-color: #ffffff;
        font-family: 'Inter', sans-serif;
        color: #333;
    }

    br.mobile-only {
        display: none;
    }

    .cbh-phone {
        display: block;
        position: relative;
        right: 105px;
        bottom: 65px;
        visibility: hidden;
        background-color: transparent;
        width: 200px;
        height: 200px;
        cursor: pointer;
        z-index: 999;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        -webkit-transition: visibility .5s;
        -moz-transition: visibility .5s;
        -o-transition: visibility .5s;
        transition: visibility .5s
    }

    .cbh-phone.cbh-show {
        width: fit-content;
        height: fit-content;
        visibility: visible;


        transform: scale(1.1);
    }

    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none
        }
    }

    @-webkit-keyframes fadeInRightBig {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0)
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none
        }
    }

    @-webkit-keyframes fadeOutRight {
        0% {
            opacity: 1
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }
    }

    @keyframes fadeOutRight {
        0% {
            opacity: 1
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            -ms-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }
    }

    .fadeOutRight {
        -webkit-animation-name: fadeOutRight;
        animation-name: fadeOutRight
    }

    .cbh-phone.cbh-static1 {
        opacity: .6
    }

    .cbh-phone.cbh-hover1 {
        opacity: 1
    }

    .cbh-ph-circle {
        width: 110px;
        height: 110px;
        top: 40px;
        left: 40px;
        position: absolute;
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid rgba(30, 30, 30, .4);
        opacity: .1;
        -webkit-animation: cbh-circle-anim 1.2s infinite ease-in-out;
        -moz-animation: cbh-circle-anim 1.2s infinite ease-in-out;
        -ms-animation: cbh-circle-anim 1.2s infinite ease-in-out;
        -o-animation: cbh-circle-anim 1.2s infinite ease-in-out;
        animation: cbh-circle-anim 1.2s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s
    }

    .cbh-phone.cbh-active .cbh-ph-circle1 {
        -webkit-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
        -moz-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
        -ms-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
        -o-animation: cbh-circle-anim 1.1s infinite ease-in-out !important;
        animation: cbh-circle-anim 1.1s infinite ease-in-out !important
    }

    .cbh-phone.cbh-static .cbh-ph-circle {
        -webkit-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
        -moz-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
        -ms-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
        -o-animation: cbh-circle-anim 2.2s infinite ease-in-out !important;
        animation: cbh-circle-anim 2.2s infinite ease-in-out !important
    }

    .cbh-phone.cbh-hover .cbh-ph-circle {
        border-color: rgba(0, 175, 242, 1);
        opacity: .5
    }

    .cbh-phone.cbh-green.cbh-hover .cbh-ph-circle {
        border-color: rgba(117, 235, 80, 1);
        opacity: .5
    }

    .cbh-phone.cbh-green .cbh-ph-circle {
        border-color: rgba(0, 175, 242, 1);
        opacity: .5
    }

    .cbh-phone.cbh-gray.cbh-hover .cbh-ph-circle {
        border-color: rgba(204, 204, 204, 1);
        opacity: .5
    }

    .cbh-phone.cbh-gray .cbh-ph-circle {
        border-color: rgba(117, 235, 80, 1);
        opacity: .5
    }

    .cbh-ph-circle-fill {
        width: 74px;
        height: 74px;
        top: 58px;
        left: 58px;
        position: absolute;
        background-color: #000;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .1;
        -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
        -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
        -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
        -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
        animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s
    }

    .cbh-phone.cbh-active .cbh-ph-circle-fill {
        -webkit-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
        -moz-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
        -ms-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
        -o-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important;
        animation: cbh-circle-fill-anim 1.7s infinite ease-in-out !important
    }

    .cbh-phone.cbh-static .cbh-ph-circle-fill {
        -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
        -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
        -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
        -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
        animation: cbh-circle-fill-anim 2.3s infinite ease-in-out !important;
        opacity: 0 !important
    }

    .cbh-phone.cbh-hover .cbh-ph-circle-fill {
        background-color: rgba(0, 175, 242, .5);
        opacity: .75 !important
    }

    .cbh-phone.cbh-green.cbh-hover .cbh-ph-circle-fill {
        background-color: rgba(117, 235, 80, .5);
        opacity: .75 !important
    }

    .cbh-phone.cbh-green .cbh-ph-circle-fill {
        background-color: rgba(0, 175, 242, .5);
        opacity: .75 !important
    }

    .cbh-phone.cbh-gray.cbh-hover .cbh-ph-circle-fill {
        background-color: rgba(204, 204, 204, .5);
        opacity: .75 !important
    }

    .cbh-phone.cbh-gray .cbh-ph-circle-fill {
        background-color: rgba(117, 235, 80, .5);
        opacity: 1 !important
    }

    .cbh-ph-img-circle1 {
        width: 50px;
        height: 50px;
        top: 70px;
        left: 70px;
        position: absolute;
        background-image: url(/Imagens/icons8-whatsapp.png);
        background-size: 33px;
        background-color: rgba(30, 30, 30, .1);
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: 1;
        -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out;
        -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out;
        -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out;
        -o-animation: cbh-circle-img-anim 1s infinite ease-in-out;
        animation: cbh-circle-img-anim 1s infinite ease-in-out
    }

    .cbh-phone.cbh-active .cbh-ph-img-circle1 {
        -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
        -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
        -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
        -o-animation: cbh-circle-img-anim 1s infinite ease-in-out !important;
        animation: cbh-circle-img-anim 1s infinite ease-in-out !important
    }

    .cbh-phone.cbh-static .cbh-ph-img-circle1 {
        -webkit-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
        -moz-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
        -ms-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
        -o-animation: cbh-circle-img-anim 0s infinite ease-in-out !important;
        animation: cbh-circle-img-anim 0s infinite ease-in-out !important
    }

    .cbh-phone.cbh-hover .cbh-ph-img-circle1 {
        background-color: rgba(0, 175, 242, 1)
    }

    .cbh-phone.cbh-green.cbh-hover .cbh-ph-img-circle1:hover {
        background-color: rgba(117, 235, 80, 1)
    }

    .cbh-phone.cbh-green .cbh-ph-img-circle1 {
        background-color: rgba(0, 175, 242, 1)
    }

    .cbh-phone.cbh-green .cbh-ph-img-circle1 {
        background-color: rgba(0, 175, 242, 1)
    }

    .cbh-phone.cbh-gray.cbh-hover .cbh-ph-img-circle1 {
        background-color: rgba(204, 204, 204, 1)
    }

    .cbh-phone.cbh-gray .cbh-ph-img-circle1 {
        background-color: rgba(117, 235, 80, 1)
    }

    @-moz-keyframes cbh-circle-anim {
        0% {
            -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
            opacity: .1;
            -moz-opacity: .1;
            -webkit-opacity: .1;
            -o-opacity: .1
        }

        30% {
            -moz-transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .5;
            -moz-opacity: .5;
            -webkit-opacity: .5;
            -o-opacity: .5
        }

        100% {
            -moz-transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .6;
            -moz-opacity: .6;
            -webkit-opacity: .6;
            -o-opacity: .1
        }
    }

    @-webkit-keyframes cbh-circle-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            -webkit-opacity: .1
        }

        30% {
            -webkit-transform: rotate(0deg) scale(.7) skew(1deg);
            -webkit-opacity: .5
        }

        100% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            -webkit-opacity: .1
        }
    }

    @-o-keyframes cbh-circle-anim {
        0% {
            -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
            -o-opacity: .1
        }

        30% {
            -o-transform: rotate(0deg) scale(.7) skew(1deg);
            -o-opacity: .5
        }

        100% {
            -o-transform: rotate(0deg) scale(1) skew(1deg);
            -o-opacity: .1
        }
    }

    @keyframes cbh-circle-anim {
        0% {
            transform: rotate(0deg) scale(0.5) skew(1deg);
            opacity: .1
        }

        30% {
            transform: rotate(0deg) scale(.7) skew(1deg);
            opacity: .5
        }

        100% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .1
        }
    }

    @-moz-keyframes cbh-circle-fill-anim {
        0% {
            -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }

        50% {
            -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
            opacity: .2
        }

        100% {
            -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }
    }

    @-webkit-keyframes cbh-circle-fill-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }

        50% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }

        100% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }
    }

    @-o-keyframes cbh-circle-fill-anim {
        0% {
            -o-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }

        50% {
            -o-transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }

        100% {
            -o-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }
    }

    @keyframes cbh-circle-fill-anim {
        0% {
            transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }

        50% {
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2
        }

        100% {
            transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2
        }
    }

    @keyframes cbh-circle-img-anim {
        0% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }

        10% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }

        100%,
        50% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    @-moz-keyframes cbh-circle-img-anim {
        0% {
            transform: rotate(0deg) scale(1) skew(1deg)
        }

        10% {
            -moz-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            -moz-transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            -moz-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            -moz-transform: rotate(25deg) scale(1) skew(1deg)
        }

        100%,
        50% {
            -moz-transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    @-webkit-keyframes cbh-circle-img-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg)
        }

        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        100%,
        50% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    @-o-keyframes cbh-circle-img-anim {
        0% {
            -o-transform: rotate(0deg) scale(1) skew(1deg)
        }

        10% {
            -o-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            -o-transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            -o-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            -o-transform: rotate(25deg) scale(1) skew(1deg)
        }

        100%,
        50% {
            -o-transform: rotate(0deg) scale(1) skew(1deg)
        }
    }

    .cbh-phone.cbh-green .cbh-ph-circle {
        border-color: rgb(0, 242, 164);
        display: none;
    }

    .cbh-phone.cbh-green .cbh-ph-circle-fill {
        background-color: rgb(0, 242, 164);
    }

    .cbh-phone.cbh-green .cbh-ph-img-circle1 {
        background-color: rgb(46, 203, 113);
    }

    .kmacb__manager-border {
        position: absolute;
        width: 75px;
        height: 75px;
        top: 50%;
        left: 50%;
        margin-top: -39.5px;
        margin-left: -39.5px;
        border-radius: 100%;
        border: 2px solid #ffe787;
        -webkit-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
        -moz-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
        -ms-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
        -o-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
        animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
        opacity: .8;
        transform-origin: center;
    }

    .kmacb__manager-fill {
        background: #52aff7 center bottom no-repeat;
        position: absolute;
        width: 75px;
        height: 75px;
        top: 50%;
        left: 50%;
        margin-top: -37.5px;
        margin-left: -37.5px;
        border-radius: 100%;
        opacity: .5;
        -webkit-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
        -moz-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
        -ms-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
        -o-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
        animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
        transform-origin: center;
    }

    .kmacb__manager-circle {
        background: #52aff7;
        position: absolute;
        width: 120px;
        height: 120px;
        top: 50%;
        left: 50%;
        margin-top: -60px;
        margin-left: -60px;
        border-radius: 100%;
    }

    .email {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0%;
        right: 0%;
        background-color: #52aff7;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        text-decoration: none;
        color: white;
        z-index: 9999;
    }

    .mail {
        transform: scale(1.4);
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: fit-content;
        height: 50px;
        position: absolute;
        top: 77%;
        right: 4%;
    }







    .numInf {
        font-family: 'inter', sans-serif;
        font-size: 13px;
        padding: 0px 0px 0px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
    }

    .tel {
        transform: scale(0.8);
        color: #ffffff;
    }

    .barraInf {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .icon {
        transform: scale(1);
        margin: 0px;

    }

    .galeriaFotos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: relative;
        left: 20%;
        background-color: #333;
        border-radius: 15px;
        border: 1px solid rgb(187, 187, 187);
        cursor: pointer;
    }

    .galeriaFotosText {
        color: rgb(224, 224, 224);
        margin: 0px;
        font-size: 13px;
        font-weight: bold;
    }

    .pho {
        transform: scale(1.2);
        color: rgb(224, 224, 224);
    }

    .imgLeft1 {
        border-radius: 15px;
        height: 100%;
    }

    .slider1,
    .slider2 {
        object-fit: cover;
        width: 100%;
        transition: all 1s;

    }

    .slider2 {
        box-shadow: -2px 2px 4px #0000003b;
        border: solid 1px rgb(187, 187, 187);
        border-radius: 15px;
    }

    .slider3 {
        height: fit-content;
        width: 100%;
        box-shadow: -2px 2px 4px #0000003b;
        border-radius: 15px;
        border: solid 1px rgb(187, 187, 187);
    }

    .slick-next,
    .slick-prev {
        transform: scale(1) !important;
        z-index: 1;

    }

    .slick-next {
        right: 10px !important;
    }

    .slick-prev {
        left: 10px !important;
    }

    .slick-dots {
        bottom: 0px !important;
        color: white !important;
    }

    .slick-next {
        position: relative;
        right: 50px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0px !important;
    }

    .slider {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        display: none;
    }

    .slider.ativo {
        display: block;
    }

    .slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .slider-imagem {
        max-height: 90%;
        max-width: 90%;
        object-fit: contain;
        display: none;
    }

    .slider-imagem.ativo {
        display: block;
    }

    .fechar-galeria {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: #fff;
        cursor: pointer;
    }

    .navegacao {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1;
    }

    .anterior,
    .proxima {
        border: none;
        background-color: transparent;
        font-size: 3em;
        color: #fff;
        cursor: pointer;
    }

    .anterior:hover,
    .proxima:hover {
        color: #ccc;
    }

    .contador {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .bodyBox {

        display: flex;
        width: 100%;
        height: 100%;



    }

    .boxRight {

        width: 30%;


    }

    .boxLeft {

        width: 63%;


    }

    .title {

        font-size: 30px;

    }

    .subText {
        font-size: 15px;

    }

    .subText2 {
        font-size: 15px;
        color: #333;
        text-align: justify;
        padding: 5px;
        margin: 0px;
    }

    .slider2div {
        margin-top: -60px;
        height: fit-content;
    }

    .subTextTitle {
        font-size: 18px;
        text-align: center;
        border: solid 1px rgb(158, 158, 158);
        border-radius: 15px;
        width: fit-content;
        padding: 10px 25px;
        color: #636363;
        box-shadow: -2px 2px 4px #0000003b;
        align-self: center;
        margin-top: 0px;
    }

    .subText1 {}

    .imgLeft1Text {
        position: relative;
        top: 88px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 7px 15px;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 15px;
        width: fit-content;
        color: white;
        border: solid 1px rgb(187, 187, 187);
        box-shadow: -2px 2px 4px #0000003b;
        z-index: 2;
    }

    .imgLeft2Text {
        position: relative;
        top: 85px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 7px 15px;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 15px;
        width: fit-content;
        color: white;
        border: solid 1px rgb(187, 187, 187);
        box-shadow: -2px 2px 4px #0000003b;
        z-index: 2;
        margin-top: -60px;
    }

    .imgLeft3Text {
        position: relative;
        top: 85px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 7px 15px;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 15px;
        width: fit-content;
        color: white;
        border: solid 1px rgb(187, 187, 187);
        box-shadow: -2px 2px 4px #0000003b;
        z-index: 2;
        margin-top: -60px;
    }

    .imgInfo {
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        box-shadow: -2px 2px 4px #0000003b;
        border: solid 1px rgb(158, 158, 158);
        margin-bottom: 5px;
        margin-top: 10px;
        border-radius: 15px;
    }

    .infoLeft {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 100%;

    }

    .bedborder {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(158, 158, 158);
        width: 18%;
        height: fit-content;
        border-radius: 15px;
        padding: 10px;
        margin: 5px;


    }

    .bedtitle {
        margin: 2px 0px 0px;
        font-size: 10px;
        font-weight: bold;
    }

    .bedsubtitle {
        margin: 7px 0px 0px;
        font-size: 8px;
    }

    .infoRight {
        display: flex;
        flex-direction: column;
        z-index: 10;
        width: 95%;
        height: fit-content;
        border-radius: 15px;
        margin: 10px 0px 0px;
        box-shadow: 0px 2px 5px #0000003b;
        padding: 15px;
    }

    .imgRight1 {
        object-fit: cover;
        border-radius: 15px;
        height: 30rem !important;
        width: 100%;
    }

    .details {
        display: flex;

    }

    .locDiv {}

    .loc {
        color: #333;
        transform: scale(1);
        margin: 0px 0px 0px;
    }

    .locText {


        font-size: 16px;

    }

    .mapbox {
        margin: 20px 0px 0px;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: none;
    }

    .mapboxdesk {
        margin: 20px 0px 0px;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: block;
    }

    .mapbox iframe,
    .mapboxdesk iframe {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
}